# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Build info
build-info/

# Hardhat local deployments (chain-31337)
blockchain/ignition/deployments/chain-31337/*

# Environment variables
.env

# Subgraph compiled output
subgraph/build/
